<footer class="footer">
    <div class="footer__content">
        <h2 class="footer__title">
            Collector Game Box
            <img src="/iconCollectorGameBox.png" alt="Logo" class="footer__icon" />
        </h2>
        <p class="footer__text">© 2025 Collector Game Box. Todos os direitos reservados. (Ou não kkkkj)</p>
        <div class="footer__links">
            <a href="#">Sobre</a>
            <a href="#">Contato</a>
            <a href="#">Política</a>
        </div>
    </div>
</footer>